<div class="card position-relative">
	<span class="price-badge">{{ content.field_price | field_value }}</span>
	<img src={{ content.field_im | field_value }} class="card-img-top w-100" height="250px">
	<div class="card-body">
		<h4 class="card-title">{{ label }}</h4>
		<p class="card-text">{{ content.field_description | field_value }}</p>
		<a class="btn btn-primary btn-block" href="{{ url }}" role="button">Commandez</a>
	</div>
</div>
